@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono&family=Russo+One&display=swap');

.dashboard-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
}

.dashboard-grid-row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.header {
  grid-column: span 4;
  text-align: left;
  margin-bottom: 20px;
}

.card {
    background: #ffffff;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    min-width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.card-content-health {
    display: flex;
    gap: 20px;
    grid-column: span 1;
    min-width: 300px;

}
.card-content-profile {
    min-width: 500px;

}

.card-content {
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}


.card-content,
.card-content-health p {
  margin: 0;
  font-weight: bold;
  flex-shrink: 0;
}

.card-content,
.card-content-health h2 {
  margin: 0;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-column: span 4;
  width: 100%; 
}

.progress-cards {
  display: flex;
  gap: 20px;
  grid-column: span 4;
}

.progress-card {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.user-email {
    font-family: "DM Sans", sans-serif;
    color:#a8a7a7;
    font-weight: normal !important;
}

.weight-change.negative {
  color: #e74c3c;
}

.weight-change.positive {
  color: #27b94e;
}

.start-current {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #999;
  gap: 2px;
  margin-top: 10px;
}

.start-current span {
    font-size: 0.9em;
    color: #555; /* Color de ejemplo para el texto */
}

.horizontal-card {
  flex-direction: row;
  justify-content: space-between;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.big-card {
  grid-column: span 4;
}

.profile-card {
  grid-column: span 2;
  flex-direction: column;
}

.profile-header {
  display: flex;
  gap: 20px;
}

.profile-info {
    text-align: right;
    flex: 1;
}

.profile-picture {
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.contact-info {
  text-align: left;
}

.contact-info-user{
    font-weight: normal !important;
}

.contact-info-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 10px; 
}

.indicator-card {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.chart-placeholder {
  height: 100px;
  background: #f0f0f0;
  border-radius: 5px;
  margin-left: 20px;
}

.small-chart {
  width: 100px;
}

.big-chart {
  height: 200px;
}

.graph-controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Espacio entre botones */
  margin-bottom: 20px;
  width: fit-content;
}

.graph-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.graph-button.active {
  background: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.graph-button:hover {
  background: #f0f0f0;
}

.graph-select {
  align-items: center;
  gap: 10px;
  min-width: 900px;
}

.selectGraph {
  padding: 5px;
}
.role {
    color:#a8a7a7;
    font-weight: normal !important;
}

.indicator-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    
    gap: 20px;
    width: 100%;
}

.indicator-health {
    grid-column: span 4; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.weight-graph {
    grid-column: span 3;
    flex: 1 1 100%;

}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  align-items: flex-start;
  justify-content: center;
  grid-column: span 3; 
  margin-top: 5%;
  }

  .profile-info h4 {
    font-size: 1.5rem; /* Tamaño base para pantallas grandes */
  }
  
  .profile-info p {
    font-size: 1rem; /* Tamaño base para texto normal */
  }
  
  @media (max-width: 768px) {
    .profile-info h4 {
      font-size: 1.2rem; /* Reducir el tamaño del título en pantallas más pequeñas */
    }
  
    .profile-info p {
      font-size: 0.9rem; /* Reducir el tamaño del texto en pantallas más pequeñas */
    }
  }

#sleep-chart, #digestion-chart, #stress-chart, #energy-chart {
  width: 160px !important; /* Ajusta según el tamaño que desees */
  height: 160px !important;
}